# DART API 키 (https://opendart.fss.or.kr/ 에서 발급)
DART_API_KEY=f0a7d7dea9b0f9ee744bf7eddabdf62ccf98d0b3
# KRX API 키 (https://openapi.krx.co.kr/ 에서 발급) 2026/04/01 ~ 2027/03/31
KRX_API_KEY=EE8C0C8CFC004126854B9424814B7A00969B2F10
# TELEGRAM API 키 (new_pick_bot)
TELEGRAM_BOT_TOKEN=8676949215:AAFZTL0_T-rxLc2v5o5NMx9MYLkNKKok7V0
TELEGRAM_CHAT_ID=8690332601

